.node__root>circle {
  fill: red;
}

.node__branch>circle {
  fill: #ff8a33
}

.node__branch>g>text {
  fill: white
}

.node__leaf>circle {
  fill: green;
}

.rd3dag-link{
  stroke: #00e82c !important;
}